

.vlog{
    display: flex;
    justify-content: space-around;
    background-color: rgb(116, 2, 2);
    color: rgb(244, 240, 235);
    height: 70px;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}



.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(71, 5, 5);
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    position: sticky;
    top:0;

}
.navbar a:hover{background-color: rgb(41, 39, 37);}


.main{
    height: 500px;
    display: flex;
    flex-direction: row;
}
.side{
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    flex-direction: column;
    width:18%;
    height: 14750px;
    background-color: rgb(194, 193, 193);;
    font-weight: bold;
    color:rgb(69, 2, 2);
    
}

.a:hover{
    color: rgb(227, 227, 243);
}

.link{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
}
.polo{
    display: flex;
    flex-direction:column;
    background-color:white;
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;


}
h2{
    color:rgb(126, 6, 6)
}
h4{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: darkred;
    
}
h5{
    font-size: 20px;
    font-weight: bold;
}
h1{
    color: rgb(104, 104, 104);
    display: flex;
    justify-content: center;
    font-size: 39px;
    letter-spacing: 3px;

}
.b,button,a{
    background-color:rgb(71, 5, 5);
    font-weight: bold;
    font-size: 16px;
}   
.b,button,a{
    color:rgb(241, 235, 227);
}

.b,c{
    background-color: chocolate;
}

img{
    display: flex;
    
    margin-left: 50px;
    width: 90%;
    height: 330px;
}
h2{
    background-color: rgb(232, 85, 85);
    color: antiquewhite;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(99, 5, 5);
    color: antiquewhite;
    font-size: 18px;
    font-weight: bold;
    height: 280px;
    width: 100%;
    padding-left: 20px;
    padding-top: 70px;
}



.lono{
    font-weight: bold;
    font-size: 24px;
}
.v:hover{
color:darkgreen;
}





.like{  

   word-spacing: 10px;
   letter-spacing: 8px;    
    width:20%;
    height: 15480px;
    background-color:rgb(223, 220, 220);
    font-weight: bold;
}
.ero
  {
    display: flex;
    justify-content: space-around;
  }
